<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8Y4PU9K0Sdl6p2IMKvzOZzCqVHHaunr8</string>
	<key>GCM_SENDER_ID</key>
	<string>560237127162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nackswinget.apps</string>
	<key>PROJECT_ID</key>
	<string>nackswinget-af7ef</string>
	<key>STORAGE_BUCKET</key>
	<string>nackswinget-af7ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560237127162:ios:356c1338274d9b0c997043</string>
</dict>
</plist>